.chat-main
  .main-header
    .main-header__left
      .main-header__left__group-name
        = @group.name
      .main-header__left__members
        Member:
        - @group.users.each do |user|
          = user.name
    .main-header__edit
      = link_to edit_group_path(@group), class: "edit-btn" do
        Edit
        
  .messages
    = render @messages

  = form_for [@group, @message] do |f|
    .form
      .form__input
        = f.text_field :content, class: 'form__input__box', placeholder: 'type a message'        
        = f.label :image, class: 'form__input__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'form__input__image-btn'
      = f.submit 'Send', class: 'form__submit'