.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        = current_user.name
      .side-header__box__icons
        = link_to "#", class: "icon" do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user), class: "icon" do
          = icon('fas', 'user-cog')
  .groups
    .group
      .group__name
        グループ名
      .group__new-message
        まだメッセージがありません
    .group
      .group__name
        グループ名2
      .group__new-message
        まだメッセージがありません
    .group
      .group__name
        グループ名3
      .group__new-message
        まだメッセージがありません